@import "tailwindcss";
@plugin "daisyui";
@plugin "@egoist/tailwindcss-icons";

html,body{
    height: 100%;
    width: 100%;
}

.daisy-text {
    font-size: 18px;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text; /* 必须用于 WebKit 浏览器 */
    -webkit-text-fill-color: transparent; /* 让背景显现于文字上 */
    border-radius: var(--radius-box);
    background-color: var(--color-primary);
    will-change: background-position;
    background-image: linear-gradient(105deg, #0000 0% 40%, var(--color-primary-content) 50%, #0000 60% 100%);
    background-position-x: -50%;
    background-repeat: no-repeat;
    background-size: 175%;
    animation: 5s ease-in-out infinite daisy-text;
    @media (prefers-reduced-motion: reduce) {
        & {
            transition-duration: 10s
        }
    }
}

@keyframes daisy-text {
    0% {
        background-position: 150%
    }
    to {
        background-position: -50%
    }
}
